:root{
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}
h1{

}

h2 {
text-align: center;
font-size: 1.5em;


}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
li{
    list-style: none;
}

/* ********************* */
/* Hier begint de header */
/* ********************* */

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 1em;
}
header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #1a1a1a;
    border-radius: 0.5em;
  
}

header nav li:nth-last-child(2) a{
    background: #0f439b;
    color: #ffffff;
}
header ul li:last-child a{
    background: #8b2330;
    color: #ffffff;
}

section p{
    text-align: center;
}
section p:nth-of-type(2) {
    display: block;
    padding: 0.5em 1em;
    width: fit-content;
    margin: 1em auto;
    border-radius: 1em; 
    background-color: #76aee8;
    color: #ffffff;
    font-weight:bold ;
}
