:root {
    --text-color-paragraphs: #606f7b;
    --text-color-headings: #3d4852;
    --text-color-header: #14367d;
    --hamburger-color: #0a0a0a;
    --background-color-hamburger: #c8e3f8;
    --color-temp:#76aee8;
    --color-slide-one: #b20d10;
    --color-slide-two: #52c1dd;
    --color-slide-three: #67bea3;
    --color-slide-four: #f2bf00;
    --color-slide-five: #e6007e;
    --color-text-slide:#ffffff;
    --color-blue-hover:#003681;
    --color-text: #ffffff;
    --color-light-bg:#f6fafe;
    --color-light-link: #e9e9e9;
    --color-dark-bg:#003681;
    --color-dark-text:#333333;
    --color-blue: #006aff;



}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.45;
    color: var(--text-color-paragraphs);
}

h1 {
    margin: 0 1em;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 1.8em;
    color: var(--text-color-headings)
}

a {
    color: #424242;
    text-decoration: none;
}

a:focus-visible{
    outline: solid 0.15em var(--color-blue);
    outline-offset: 0.2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* ********************* */
/* Hier begint de header */
/* ********************* */

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-right: 2em;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-hamburger);
    translate: 100%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5em;
    font-size: larger;
    padding: 1em;
}


header nav a {
    color: var(--text-color-header);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
header nav a:hover {
    color: var(--color-blue-hover); 
}

header button {
    z-index: 1;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    appearance: none;
    background: transparent;
    border: none;

}

header button span {
    display: block;
    grid-area: stack;
    width: 1.87em;
    height: 0.17em;
    background-color: var(--hamburger-color);

}

header button span:nth-of-type(1) {
    translate: 0 -0.5em;
    transition: rotate .3s ease, translate .3s ease;
}

header button span:nth-of-type(2) {
    transition: opacity .3s ease;
}

header button span:nth-of-type(3) {
    translate: 0 0.5em;
    transition: rotate .3s ease, translate .3s ease;

}

header:has(nav.active) button span:nth-of-type(1) {
    rotate: z -45deg;
    translate: 0;
}

header:has(nav.active) button span:nth-of-type(2) {
    opacity: 0;
}


header:has(nav.active) button span:nth-of-type(3) {
    rotate: z 45deg;
    translate: 0;
}

.active {
    translate: 0;
}

@media (width > 730px) {
    header nav {
        position: static;
        height: auto;
        width: auto;
        translate: 0;
    }

    header nav ul {
        display: flex;
    }

    header button {
        display: none;
    }
}

/* ==================== */
/* Homepage */
/* ==================== */

/* section 1 */



.homepage {
    font-size: 1em;
    text-align: center;
}


.homepage section:first-of-type {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.homepage section:first-of-type>img {
    grid-area: 1/1;
    width: 100%;
    height: 40em;
    object-fit: cover;
    z-index: -1;
}

.homepage section:first-of-type>div {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.homepage section:first-of-type div h2 {
    font-size: 2em;
    color: var(--color-text);
}

.homepage section:first-of-type div h2 span {
    display: block;
    font-size: 0.5em;
    padding-top: 2em;
    font-weight: 500;
}

.homepage section:first-of-type>p:first-of-type {
    background-color: var(--color-temp);
    font-weight: 700;
    color: var(--color-text);
    padding: 1em 3em;
    border-radius: 2em;
    width: max-content;
    margin: -0.9em auto;
}
.homepage section:first-of-type>p:first-of-type:hover{
  animation-name:lord-animation;
  animation-duration:1s;  
}

@keyframes lord-animation {
  0% {
    rotate:0deg;
  }
  100% {
    rotate:360deg;
  }
}

.homepage section:first-of-type>p {
    margin: 4.5em 0 3em 0;
    line-height: 1.75em;
    padding: 0 1.25em;
    color: var(--text-color-paragraphs);

}

/* section 2 */

.homepage section:nth-of-type(2) {
    max-width: fit-content;
    margin: 1em;
}

.homepage section:nth-of-type(2)>ul {
    display: flex;
    overflow: auto;
    gap: 1em;
}

.homepage section:nth-of-type(2)>ul>li {
    flex-shrink: 0;
    width: 22.5em;
    height: 20em;
}


.homepage section:nth-of-type(2)>ul>li img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 1em;
    transition: 0.5s;
}

.homepage section:nth-of-type(2)>ul>li img:hover{
  transform: scale(1.05);
}

.homepage section:nth-of-type(2)>img:hover{
    transform: scale(1.05);
}

/* img */
.homepage>img:nth-of-type(1) {
    max-width: 100%;
    border-radius: 1em;
}

/* section3 */

.homepage section:nth-of-type(3) {
    padding: 1em;
    color: var(--text-color-headings);
    margin-bottom: 2em;
    text-align: left;
}

.homepage section:nth-of-type(3) h2{
    animation: floating 2s infinite alternate ease-in-out;
}

@keyframes floating {
  from {
    transform: translateY(-1em);
  }

  to {
    transform: translateY(1em);
  }
}


.homepage section:nth-of-type(3)>img {
    max-width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.homepage section:nth-of-type(3)>p {
    color: var(--text-color-headings);
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 1em;
}

.homepage section:nth-of-type(3)>a {
    background-color: #aad4f5;
    color: var(--color-dark-bg);
    font-weight: 500;
    margin-top: 2em;
    padding: .5em 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.homepage section:nth-of-type(3)>a:hover {
    background-color:var(--color-blue-hover); 
    color: var(--color-text);
    transform: scale(1.05); /
}

/* section 4 */
.homepage section:nth-of-type(4) {
    background-color: var(--color-light-bg);
    color: var(--text-color-headings);
    padding: 1em;
}

.homepage section:nth-of-type(4)>h2 {
    font-size: 1.5em;
    margin-top: 1em;
    padding-bottom: .5em;
    padding-top: 2em;
}

.homepage section:nth-of-type(4)>img {
    max-width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.homepage section:nth-of-type(4)>p:first-of-type {
    font-weight: 300;
    text-align: start;
    color: var(--text-color-paragraphs);
    margin-bottom: 1em;
}


/* Section 5 */

.homepage section:nth-of-type(5) {
    padding: 1em;
    color: var(--text-color-headings);
}

.homepage section:nth-of-type(5)>a {
    padding: 0.5em 1.5em;
    background-color: var(--color-dark-bg);
    color: var(--color-text);
    margin-top: 2em;
    padding: .5em 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}
.homepage section:nth-of-type(5)>a:hover{
    background-color: #aad4f5; 
    color:var(--color-blue-hover);
    transform: scale(1.05); 
}


/* footer */

footer {
    padding: 1em;
}

footer>nav>ul {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 700;
    color: var(--text-color-headings);
}

footer>nav>ul>li:nth-of-type(8) {
    margin-top: 1em;
}

footer > nav > ul > li > a {
    transition: color 0.3s ease;
}

footer > nav > ul > li > a:hover {
    color: var(--text-color-header); 
    
}

footer>p:first-of-type {
    font-weight: 700;
    color: var(--text-color-headings);
    font-size: small;
    margin-top: 2em;
    margin-bottom: 2em
}

footer>p:last-of-type {
    text-align: center;
    font-weight: 700;
    color: var(--text-color-headings);
    font-size: x-small;
    margin-top: 2em;
    margin-bottom: 2em
}

footer>section {
    display: flex;
    justify-content: center;
    gap: 3.5em;
    ;
}

footer>section img {
    width: auto;
    height: 4.5em;
    flex-shrink: 0;
}



/* ==================== */
/* Pagina 2 */
/* ==================== */


.pagina ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagina section:first-of-type {
    position: relative;
    width: 100%;

}

.pagina section:first-of-type img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    display: block;
}

.pagina section:first-of-type h2 {
    font-family:"Noto Serif Display", serif;
    position: absolute;
    top: 30%;
    left: 10%;
    translate: -20% -80%;
    color: var(--color-text);
    font-size: 1.7em;
    font-weight: 700;
    text-align: right;
    line-height: 1;
    margin: 0;
    width: max-content;
}

.pagina section:nth-of-type(2) {
    padding-left: 1.25em;
    padding-right: 1.25em;
    text-align: center;
}

.pagina section:nth-of-type(2) h2 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 1.5em
}

.pagina section:nth-of-type(2) p {
    line-height: 1.75em;
    font-weight: 300;
    color: var(--text-color-paragraphs);

}

.pagina section:nth-of-type(3) nav {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.pagina section:nth-of-type(3) nav ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    max-width: 20em;
    flex-wrap: wrap;
    margin: 2em;
}

.pagina section:nth-of-type(3) nav ul li a{
    display: block;
    padding: 0.6em 1.25em;
    border: 0.1em solid var(--color-light-link);
    border-radius: 0.5em;
    background-color:var(--color-text);
    color: var(--color-dark-text);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.pagina > section:nth-of-type(3) nav ul li:nth-of-type(1) a:hover {
    background-color: var(--color-slide-one);
    color: #ffffff;
}

.pagina > section:nth-of-type(3) nav ul li:nth-of-type(2) a:hover {
    background-color: var(--color-slide-two);
    color: #ffffff;
}

.pagina > section:nth-of-type(3) nav ul li:nth-of-type(3) a:hover {
    background-color: var(--color-slide-three);
    color: #ffffff;
}

.pagina > section:nth-of-type(3) nav ul li:nth-of-type(4) a:hover {
    background-color: var(--color-slide-four);
    color: #ffffff;
}

.pagina > section:nth-of-type(3) nav ul li:nth-of-type(5) a:hover {
    background-color: var(--color-slide-five);
    color: #ffffff;
}

.pagina>section:nth-of-type(3)>ul li:first-of-type {
    background-color: var(--color-slide-one);
}

.pagina>section:nth-of-type(3)>ul li:nth-of-type(2) {
    background-color: var(--color-slide-two);
}

.pagina>section:nth-of-type(3)>ul li:nth-of-type(3) {
    background-color: var(--color-slide-three);
}

.pagina>section:nth-of-type(3)>ul li:nth-of-type(4){
    background-color: var(--color-slide-four);
}
.pagina>section:nth-of-type(3)>ul li:nth-of-type(5) {
    background-color: var(--color-slide-five);
}

.pagina>section:nth-of-type(3)>ul {
    display: flex;
    overflow: auto;
    gap: 1em;
    scroll-behavior: smooth;
    text-align: center;
}

.pagina>section:nth-of-type(3)>ul li {
    flex-shrink: 0;
    flex-basis: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.pagina>section:nth-of-type(3)>ul li h2 {
    color: var(--color-text-slide);
    font-size: 2.3em;
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
}

.pagina>section:nth-of-type(3)>ul li h3 {
    color: var(--color-text-slide);
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 650;
    margin-bottom: 0.1em;
}

.pagina>section:nth-of-type(3)>ul li p {
    color: var(--color-text-slide);
    line-height: 1.75em;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}

.pagina>section:nth-of-type(3) video{
    max-width: 90%;
    padding-bottom: 2em;

}

.pagina section:nth-of-type(4) {
    text-align: center;
    padding: 7em 0.5em;
}

.pagina section:nth-of-type(4) img {
    width: 80%;
    max-width: 35em;
    height: auto;
    display: block;
    margin: 0 auto 2em auto;
}

.pagina section:nth-of-type(4) p {
    font-size: 1.75em;
    color: var(--text-color-headings);
    line-height: 1.4;
    margin-top: 1em;
}


.pagina section:nth-of-type(5) {
    padding: 1em;
    color: var(--text-color-headings);
    text-align: center;
}
.pagina section:nth-of-type(5)>a {
    background-color:var(--color-blue-hover);
    color: var(--color-text);
    margin-top: 2em;
    padding: .5em 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}


.pagina section:nth-of-type(5)>a:hover{
    background-color: #aad4f5; 
    color:var(--color-blue-hover);
    transform: scale(1.05); 
}